<li>
    <div class='iframe-movi'><%= youtube_embed(movie.link) %></div>
    <div class='iframe-movi'>
      <h5 class='red-color'>Movi Title</h5>
      <p>Share by <%= current_user.email %></p>
      <p>Description</p>
      <p class='des-movi'><span>abcxyz</span></p>
    </div>
</li>